html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Reenie Beanie', cursive;
}

* {
    margin: 0;
    padding: 0;
}


/* Grid System */

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    float: left;
}

.grid-1 {
    width: 8.33%;
}

.grid-2 {
    width: 16.66%;
}

.grid-3 {
    width: 24.99%;
}

.grid-4 {
    width: 33.32%;
}

.grid-5 {
    width: 41.65%;
}

.grid-6 {
    width: 49.98%;
}

.grid-7 {
    width: 58.31%;
}

.grid-8 {
    width: 66.64%;
}

.grid-9 {
    width: 74.97%;
}

.grid-10 {
    width: 83.3%;
}

.grid-11 {
    width: 91.63%;
}

.grid-12 {
    width: 100%;
}


/* Common Styles */

.container {
    width: 1080px;
    margin: 0 auto;
}

.content {
    padding: 40px 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.pointer {
    cursor: pointer;
}


/* Text Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: #fff;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 3px 4px 8px #5cb3ff;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.6em;
}

h6 {
    font-size: 0.4em;
}


/* Parragraph*/

p {
    font-size: 2em;
    text-shadow: 3px 4px 8px #5cb3ff;
}

a {
    text-decoration: none;
    font-size: 2.2em;
    font-family: 'Indie Flower', cursive;
}

i {
    text-shadow: 3px 4px 8px #5cb3ff;
}


/* buttons */

.principal {
    color: #fff;
    width: 50px;
    height: 30px;
    text-shadow: 3px 4px 8px #5cb3ff;
}


/* List Styles */

ul,
li {
    list-style: none;
}


/* Video Styles */

video {
    background-color: black;
    padding: 20px 0;
    -moz-box-shadow: 2px 17px 42px #000000;
    -webkit-box-shadow: 2px 17px 42px #000000;
    box-shadow: 2px 17px 42px #000000;
}


/* Sections styles  */

section {
    height: 760px;
    width: 100%;
    position: relative;
    z-index: 1;
}

section .title-section {
    padding: 20px 0;
}

section .parragraph-section {
    padding: 0 10px;
    margin-bottom: 20px;
}


/*----------------------------------------------

                Header styles 

------------------------------------------------*/

header {
    background: url('../img/header.png') no-repeat;
    background-size: cover;
    height: 645px;
    z-index: 1;
    position: relative;
}

header .navigation {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

header .logo {
    position: relative;
    text-align: center;
    margin-left: 4%;
    z-index: 4;
}

header .menu {
    position: relative;
    z-index: 5;
    color: #fff;
    font-size: 1.6em;
}

header .information {
    padding: 25px 100px 40px 0;
    position: relative;
    z-index: 4;
    margin: 80px 0;
}


/* NAvigation */

.panel {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.panel a:hover {
    color: #f1f1f1;
}

.panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .panel {
        padding-top: 15px;
    }
    .panel a {
        font-size: 18px;
    }
}

header .logo {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}

header canvas#myCanvas {
    position: relative;
    top: 20px;
    z-index: 3;
    width: 15%;
}

header h1.text-logo {
    font-size: 3em;
    text-shadow: 3px 4px 8px #5cb3ff;
}

header .header-message {
    position: absolute;
    top: 240px;
    z-index: 11;
}

header h1.text-title {
    position: relative;
    font-family: 'Reenie Beanie', cursive;
    z-index: 11;
    color: #fff;
    font-size: 3.4em;
    line-height: 1;
    letter-spacing: 2px;
    text-shadow: 3px 4px 8px #5cb3ff;
}

header .header-message .tour {
    position: absolute;
    padding: 30px 0;
    z-index: 11;
    margin-top: 20px;
}


/* Wrapper */

#wrapper {
    background-color: #000;
    z-index: 3;
    position: relative;
    background-image: url('../img/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
}

#wrapper .wrapper-content {
    z-index: 11;
    position: relative;
    padding: 40px 0;
}

#wrapper .wrapper-content .wrapper-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

#wrapper .wrapper-content h1.title {
    font-size: 3em;
    padding: 15px 0;
    text-shadow: 3px 4px 5px #5cb3ff;
}

#wrapper .wrapper-content .wrapper-info .profile-image {
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-image: url('../img/ravermag.jpg');
    width: 100%;
    height: 690px;
    top: 0;
    background-size: cover;
}


/* Advantage*/

#advantage {
    position: relative;
    background-image: url('../img/advantage.jpg');
    width: 100%;
    z-index: 1;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
}

#advantage .advantage-content {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 11;
}

#advantage .advantage-content h1.title {
    font-size: 3em;
    padding: 15px 0;
    text-shadow: 3px 4px 8px #5cb3ff;
}

#advantage .advantage-principal-card {
    margin: 0 auto;
    width: 1200px;
}

#advantage .advantage-card {
    text-align: center;
    padding: 40px 15px;
    margin: 30px 0;
}

#advantage .advantage-card h2.title-card {
    font-size: 2em;
    text-shadow: 3px 4px 8px #5cb3ff;
}


/* listen */

#listen {
    position: relative;
    background-image: url('../img/footer.jpg');
    width: 100%;
    z-index: 1;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
}

#listen .listen-content {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 11;
}

#listen .listen-content h1.title {
    font-size: 3em;
    padding: 15px 0;
    text-shadow: 3px 4px 8px #5cb3ff;
}

#listen ul {
    margin-top: 20px;
}

#listen ul li {
    padding: 10px 0;
}

#listen ul li a {
    color: #fff;
    font-size: 3.4em;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 3px 4px 8px #5cb3ff;
}

footer {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 200px;
    background-color: #000;
}

footer .footer-content {
    padding: 40px;
    position: relative;
    z-index: 11;
}

footer .footer-content h1.title {
    text-shadow: 3px 4px 8px #5cb3ff;
}

.clearfix {
    margin: 60px 0;
    padding: 50px 0;
}


/* OPACITY*/

header::after,
#wrapper::after,
#advantage::after,
#listen::after {
    content: "";
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 94%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(77%, rgba(0, 0, 0, 0)), color-stop(84%, rgba(0, 0, 0, 0)), color-stop(93%, rgba(0, 0, 0, 1)), color-stop(94%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 94%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 94%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 94%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


/* animations */

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    position: relative;
    z-index: 6;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}